/* CardGrid.css */

/* Сетка для карточек */
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px 50px;

}

.card {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.card-button {
    position: absolute;
    bottom: 20px;
    left: 20px; /* Фиксированный отступ слева */
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 15px; /* Добавил немного отступов внутри кнопки */
    border-radius: 5px; /* Для красоты */
}

.card-grid .card:nth-child(3) img,
.card-grid .card:nth-child(4) img/* Первая карточка */
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 480px; /* Увеличь, чтобы не обрезалось */
    object-fit: cover;
}

.card-grid .card:nth-child(5) img{
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    height: 450px; /* Увеличь, чтобы не обрезалось */
    object-fit: cover;
}

.card-grid .card:nth-child(2) img,
.card-grid .card:nth-child(4) img,
.card-grid .card:nth-child(5) img /* Первая карточка */
{
    display: block;
    filter: brightness(0.8); /* Понижает яркость изображения, делая его темнее */
}


@media(max-width: 760px) {
    .card-button {
        position: absolute;
        bottom: 10px;
        left: 10px; /* Фиксированный отступ слева */
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 14px;
        padding: 10px 15px; /* Добавил немного отступов внутри кнопки */
        border-radius: 5px; /* Для красоты */
    }


    .card-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 50px 10px;
    }

    .card-image img {
        width: 100%;
        height: 200px;
    }

    .card-grid .card:nth-child(3) img,
    .card-grid .card:nth-child(4) img,
    .card-grid .card:nth-child(5) img /* Первая карточка */
    {
        position: relative;
        width: 100%;
        height: 200px;
    }
    .card-grid .card:nth-child(5) img{
        top: 0;
    }


}

