.values-section {
    text-align: center;
    margin: 40px;

}

.values-section h2 {
    color: black;
}

.values-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;

}

.value {
    position: relative;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 15); /* Полупрозрачный фон для текста */

}

.value-dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Затемнение с помощью полупрозрачного черного */
    z-index: 1; /* Слой поверх изображения */
}

.value-image {
    width: 100%;
    height: auto;  /* Сохраняет пропорции изображения */
    object-fit: cover;  /* Покрывает контейнер, обрезая лишнюю часть изображения */
    object-position: top;  /* Располагает изображение по верхнему краю */
}

.value-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.value-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    border-radius: 8px;
}

.value-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.value-description {
    font-size: 14px;
}

@media(max-width: 760px) {
    .values-container {
        grid-template-columns: repeat(1, 1fr);
        .value-image {
            width: 100%;
            height: 100%;  /* Сохраняет пропорции изображения */

        }
    }
}
